* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --cor-linha: rgba(46, 46, 46, 0.4);
}

body {
  background-color: rgb(37, 37, 37);
}

header {
  position: fixed;
  width: 100%;
  height: 6%;
  background: linear-gradient(135deg, #ff0000 0%, #240000 100%);
  display: flex;
  align-items: center;
  padding: 0 5%;
  gap: 20px;
  z-index: 1000;
}

.cadastro i {
  display: flex;
  gap: 10px;
  color: white;
  font-size: 1.1rem;
}

.linha,
.linha2 {
  width: 1px;
  height: 2.5vh;
  background-color: var(--cor-linha);
}

.menu ul {
  display: flex;
  gap: 20px;
}

.menu li a {
  color: white;
  font-size: 1.1rem;
  cursor: pointer;
}

.acessibilidade {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.acessibilidade a {
  display: flex;
  gap: 10px;
  padding: 12px;
  background-color: rgba(255, 0, 0, 0.137);
  color: white;
  font-size: 1.1rem;
  border-radius: 4px;
}

.acesso a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  white-space: nowrap;
}

.bxs-chevron-right {
  padding: 2%;
  border: 1px solid white;
  border-radius: 50%;
}
